pcm.MyDev_1 {
    type hw
    card MyDev_1
    device 0
}
ctl.MyDev_1 {
    type hw
    card MyDev_1
}


pcm.MyDev_2 {
    type hw
    card MyDev_2
    device 0
}
ctl.MyDev_2 {
    type hw
    card MyDev_2
}


pcm.MyDev_3 {
    type hw
    card MyDev_3
    device 0
}
ctl.MyDev_3 {
    type hw
    card MyDev_3
}


pcm.MyDev_4 {
    type hw
    card MyDev_4
    device 0
}
ctl.MyDev_4 {
    type hw
    card MyDev_4
}


pcm.MyDev_5 {
    type hw
    card MyDev_5
    device 0
}
ctl.MyDev_5 {
    type hw
    card MyDev_5
}


pcm.MyDev_6 {
    type hw
    card MyDev_6
    device 0
}
ctl.MyDev_6 {
    type hw
    card MyDev_6
}


pcm.MyDev_7 {
    type hw
    card MyDev_7
    device 0
}
ctl.MyDev_7 {
    type hw
    card MyDev_7
}


pcm.MyDev_8 {
    type hw
    card MyDev_8
    device 0
}
ctl.MyDev_8 {
    type hw
    card MyDev_8
}


pcm.MyDev_9 {
    type hw
    card MyDev_9
    device 0
}
ctl.MyDev_9 {
    type hw
    card MyDev_9
}


pcm.MyDev_10 {
    type hw
    card MyDev_10
    device 0
}
ctl.MyDev_10 {
    type hw
    card MyDev_10
}
