[Unit]
Description=Play Voices
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/%u/voices
ExecStart=/home/%u/voices/.venv/bin/python /home/%u/voices/play_audio.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/%u/voices/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
